* {
  box-sizing: border-box;
}

form {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}

input {
  width: 99%;
  padding: 0.5em;
  font-size: 1.4em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 20px;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  display: flex;
}

li > span {
  flex: 1;
  text-align: left;
}

li > button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.done > span {
  text-decoration: line-through;
}

li > span {
  margin-right: 15px;
}


#add-car  {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: blueviolet;
  color: white;
  right: 10px;
  bottom: 10px;
  z-index: 20;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

main > ul {
  margin-bottom: 70px;
}

#save-btn, #back-btn {
  margin-top: 20px;
  background-color: blueviolet;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

.column-widget {
  display: flex;
  flex-direction: column;
}